/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; background-color: #F3F6FD;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
	background-color: #F3F6FD;
}

ul.side-nav {
	background-color: #F3F6FD;
}

ul.side-nav.fixed a {
	color: #001E62;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #039be5;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}


.headline-wrapper {
  margin-top: 20%;
  padding-left: 6px;
  
}

.headline {
  font-size: calc(33px + 33 * ((100vw - 320px) / 1280));
  line-height: .90;
  letter-spacing: -.8px;
  font-weight: 400;
  color: #001E62; /* #001E62 455a64 #2962ff;*/
	font-family: serif;
}

.headline-2 {
	color: #008F5C;
}

.headline-2::before{
    content: "\a";
    /*white-space: pre;*/
}

.headline-3::before{
    content: "\a";
    white-space: pre;
}


.page {
	font-family: serif;
	background-color: #ffffff; 
	color: #001E62; 
	border: 1px solid #e6d9ce; 
	height: 42cm; 
	margin-top: 50px; 
	margin-bottom: 10px;
	max-width: 27.5cm; 
	padding: 20mm 30mm 20mm 30mm;
}

.topic-name {
	text-align: center;
	padding-bottom: 50px;
	font-size: 30px;
}

.para-content {
	font-size: 1.5em;
}


.brand-text-color {
  color: #455a64;  /* #455a64; #ee6e73*/
}

.lab-desc {
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color:#001E62;
  max-width: 930px;
  padding-left: 6px;
}


.navigationactionbarcontentscreentitle {
  position: absolute;
  display: inline-block;
  padding: 0; 
  left: 100px;
  width: 100%;
  text-align: left;
  z-index: 0; 
  font-size: 1.24rem;
  line-height: 1.804rem;
  margin: 1.2rem 0 0.656rem 0; 
	/*text-transform: uppercase;*/
	
} 

.myborder
{
	
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.social-links {
    margin: 10px;
}

.social-icons {
    font-size:32px;
  }
  
  #social-icons {
    margin-top: 35px;
}

#social-icons a {
    text-decoration: none;
}
