/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700|Open+Sans:300,400,600,700|Roboto+Mono");
:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-monospace: "Roboto Mono", monospace; }


body {
  font-family: "Open Sans", sans-serif; background-color: #f8f8f8;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
	background-color: #f8f8f8;
}

ul.side-nav {
	background-color: #f8f8f8;
  overflow:scroll;
}

ul.side-nav.fixed a {
	color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #039be5;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}


.headline-wrapper {
  margin-top: 20%;
  padding-left: 6px;

}

.headline {
  font-size: 3.125rem; /*calc(33px + 33 * ((100vw - 320px) / 1280));*/
  line-height: .90;
  letter-spacing: -.8px;
  font-weight: 300;
  color: #555555; /* #001E62 455a64 #2962ff;*/
	font-family: "Muli", sans-serif;
}

.headline-2 {
	color: #008F5C;
}

.headline-2::before{
    content: "\a";
    /*white-space: pre;*/
}

.headline-3::before{
    content: "\a";
    white-space: pre;
}


.page {
	background-color: #f8f8f8;
	color: #000;
	border: 1px solid #e6d9ce;
	height: 42cm;
	margin-top: 50px;
	margin-bottom: 10px;
	max-width: 27.5cm;
	padding: 20mm 30mm 20mm 30mm;
}

.list-page {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	color: #000;
	height: 42cm;
	margin-top: 50px;
	margin-bottom: 10px;
	max-width: 27.5cm;
	padding: 20mm 30mm 20mm 30mm;
}

.content-list {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	color: #000;
	height: 42cm;
	margin-bottom: 10px;
	max-width: 27.5cm;
	padding: 0mm 30mm 20mm 30mm;
}

.content-list {
	font-family: serif;
	background-color: #f8f8f8;
	color: #001E62;
	border: 1px solid #e6d9ce;
	height: 42cm;
	margin-bottom: 10px;
	max-width: 27.5cm;
	padding: 0mm 30mm 20mm 30mm;
}

.topic-name {
	text-align: left;
	padding-bottom: 10px;
	font-size: 2.0rem;
	font-family: "Muli", sans-serif;
}

.list-topic-name {
	text-align: left;
  padding-bottom: 0px;
	font-size: 2.5rem;
	font-family: "Muli", sans-serif;
}

.para-content {
	font-size: 1.5em;
}


.brand-text-color {
  color: #455a64;  /* #455a64; #ee6e73*/
}

.lab-desc {
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color:#001E62;
  max-width: 930px;
  padding-left: 6px;
}


.navigationactionbarcontentscreentitle {
  position: absolute;
  display: inline-block;
  padding: 0;
  left: 60px;
  width: 100%;
  text-align: left;
  z-index: 0;
  font-size: 1.24rem;
  line-height: 1.804rem;
  margin: 1.2rem 0 0.656rem 0;
	/*text-transform: uppercase;*/

}

.myborder
{

  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.social-links {
    margin: 10px;
}

.social-icons {
    font-size:32px;
  }

  #social-icons {
    margin-top: 35px;
}

#social-icons a {
    text-decoration: none;
}

.section-title-2 {
	font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
	font-size: 1.875rem;
}

.section-title-3 {
	font-family: "Muli", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
	font-size: 1.558rem;
}

.section-title-4 {
	font-family: "Muli", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
	font-size: 1.350rem;
}


.para-content {
	font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #555555;
  text-align:justify;
	text-justify: inter-word;
	line-height: 1.8;
}

.read-more-link {
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.list-with-top-margin{
  margin-top: 60px;
}

.headline-wrapper-coming-soon {
  margin-top: 25%;
  padding-left: 6px;
}

.padding-left-50 {
  padding-left: 50px;
}

.img-border {
  border: 2px;
}

.list-content {
	font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #555555;
  text-align:justify;
	text-justify: inter-word;
	line-height: 1.8;
  padding-bottom:15px
}
